node_modules/
/lib/
/test/
custom-elements.json
# top level source
theme-switch.js
theme-switch.js.map
theme-switch.d.ts
theme-switch.d.ts.map
DialogEvent.js
DialogEvent.js.map
DialogEvent.d.ts
DialogEvent.d.ts.map
ThemeEvent.js
ThemeEvent.js.map
ThemeEvent.d.ts
ThemeEvent.d.ts.map
